.employees {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 341px;
  height: 100%;

  position: relative;

  @include vp-1439 {
    width: 301px;
  }

  @include vp-1023 {
    width: 291px;
  }

  @media (max-width: 949px) {
    width: 0;
    visibility: hidden;
  }

  &__search {
    display: flex;

    min-height: 22px;

    background-color: $color-floral-white;

    & label {
      display: flex;
      width: 100%;

      margin-left: 0.6rem;

      position: relative;

      &::before {
        content: "";

        display: block;

        width: 12px;
        height: 12px;

        background-image: url("../img/sprite/icon-search.svg");
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;

        top: 0.45rem;
        left: -0.5rem;
      }
    }

    input {
      color: $color-nobel;
      background: none;
      border: none;

      width: 100%;
      padding: 0.25rem 0.5rem;

      outline: none;
    }
  }

  &::after {
    content: "";

    display: block;
    width: 1px;
    height: 4000px;

    background-color: $color-whisper;

    position: absolute;
    top: 0;
    right: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;

    height: 88px;

    border-top: 1px solid $color-pale-rose;
    border-bottom: 1px solid $color-pale-rose;

    position: relative;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &::before {
      content: "";

      display: block;

      width: 100%;
      height: 100%;

      background-color: $color-narvik;
      opacity: 0.5;

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__employee-wrapper {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    & img {
      width: 50px;
      height: 50px;

      border-radius: 50%;
    }
  }

  &__data-wrapper {
    display: flex;
    flex-direction: column;

    max-width: 170px;
    margin-left: 0.6rem;
    padding-right: 0.5rem;
  }

  &__name {
    font-weight: 600;
    line-height: 15px;
    color: $color-pacific-blue;
    position: relative;
  }

  &__list-item--seen .employees__name::after {
    content: "";

    display: block;

    width: 16px;
    height: 11px;

    background-image: url("../img/sprite/icon-eye.svg");
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0.1rem;
    right: -0.3rem;
  }

  &__position {
    font-size: 11px;
    color: $color-grey;
  }

  &__rating {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-nobel;

    margin-left: auto;

    &--red {
      color: $color-razzmatazz;
    }
  }

  &__status {
    display: flex;
    align-self: flex-start;
    align-items: center;

    color: $color-default-white;
    text-transform: lowercase;

    font-size: 10px;
    line-height: 16px;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 3px;

    &--red {
      background-color: $color-razzmatazz;
    }

    &--green {
      background-color: $color-turquoise;
    }
  }

  &__list-item--active {
    & .employees__employee-wrapper img {
      width: 57px;
      height: 57px;

      margin-left: -0.45rem;
    }

    &::before {
      display: none;
    }
  }
}
