.header {
  .container {
    display: flex;
  }

  &__logo {
    margin-left: -22px;
  }

  &__user-nav {
    display: flex;
    align-items: center;

    margin-left: auto;
  }

  &__user {
    display: flex;
    align-items: center;

    font-size: 13px;
    line-height: 18px;

    & img {
      width: 32px;
      height: 32px;

      object-fit: contain;
      border-radius: 50%;

      margin-right: 0.75rem;
    }
  }

  &__logout {
    width: 20px;
    height: 20px;

    margin-left: 0.75rem;

    background-image: url("../img/bg/icon-exit.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center;

    font-size: 0;
  }
}
